<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/admin/css/picnic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
</head>
<style>
    label {
        width: 100% !important;
    }
</style>

<body>

    <h1 style="text-align:center; font-family: 'El Messiri', sans-serif;">
        <u>Login</u>
    </h1>
    <div class="card" style="width: 90%; margin: auto; padding: 10px; margin-top: 30px;">
        <form action="auth" method="post">
            <fieldset class="flex two">
                <p>Username :</p>
                <label><input class="input" type="text" name="Username" placeholder="@Username"></label>
                <p>Password :</p>
                <label><input type="password" name="Password" placeholder="Password"></label>
            </fieldset>
            <button type="submit"> Login</button>
        </form>
    </div>

</body>

</html>