<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipmedics</title>
    
    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('./partials/indexHeader.ejs') %>
      <!--location -->
      <section class="location-container">
        <a href="#"><i class="uil uil-location-point lr-icon"></i></a>
        <input type="text" placeholder="Enter your location..." class="location">
        <i class="uil uil-multiply lr-icon"></i>
    </section>


    <!-- slider images (1215x500px)-->
    <div class="slider">
        <img src="/client/img/slider-img/img-4.jpg" alt="medicine"
        width="1215px" height="500px">
    </div>


    <!-- Clinics  -->
    <div class="mainContainer shadowBox clinicContain">
        <div class="clinics">
            <div class="clinicsText">
                <h1 class="textHeader">Clinics</h1>
                <p>Explore Clinics near you....</p>
                <hr>
            </div>
            <a href="/html/clinicmenu">
                <button class="btn">View All</button>
            </a>
        </div>
        
                <!-- ==cards== -->
    <div class="card">

    <div class="cardBox shadowBox">
        <div class="cardImage">
            <img src="/client/img/card-img/clinic-1.jpg" alt="clinic">
        </div>
        <div class="card-content">
            <h3>Dispur Polyclinic</h3>
            <h4><i class="uil uil-user-md"></i>
                Dr Panchanan Deka</h4>
            <p><i class="uil uil-location-point"></i>
                Ganeshguri,Dispur,Guwahati</p>
            <p> <i class="uil uil-money-bill"></i>
                <i class="uil uil-rupee-sign"></i>
                500 at clinic
            </p>
            <p>
                <button class="bk-Btn btn">
                    Book Appoinment <span>&rarr;</span>
                </button>   
            </p>
        </div>
    </div>

    <!-- Clinic-2  -->

    <div class="cardBox shadowBox">
        <div class="cardImage">
            <img src="/client/img/card-img/clinic-1.jpg" alt="clinic">
        </div>
        <div class="card-content">
            <h3>Dispur Polyclinic</h3>
            <h4><i class="uil uil-user-md"></i>
                Dr Panchanan Deka</h4>
            <p><i class="uil uil-location-point"></i>
                Ganeshguri,Dispur,Guwahati</p>
            <p> <i class="uil uil-money-bill"></i>
                <i class="uil uil-rupee-sign"></i>
                500 at clinic
            </p>
            <p>
                <button class="bk-Btn btn">
                    Book Appoinment <span>&rarr;</span>
                </button>   
            </p>
        </div>
    </div>

    <!-- Clinic-3  -->

    <div class="cardBox shadowBox">
        <div class="cardImage">
            <img src="/client/img/card-img/clinic-1.jpg" alt="clinic">
        </div>
        <div class="card-content">
            <h3>Dispur Polyclinic</h3>
            <h4><i class="uil uil-user-md"></i>
                Dr Panchanan Deka</h4>
            <p><i class="uil uil-location-point"></i>
                Ganeshguri,Dispur,Guwahati</p>
            <p> <i class="uil uil-money-bill"></i>
                <i class="uil uil-rupee-sign"></i>
                500 at clinic
            </p>
            <p>
                <button class="bk-Btn btn">
                    Book Appoinment <span>&rarr;</span>
                </button>   
            </p>
        </div>
    </div>

</div>
    </div>

    <!-- about us -->

    <div class="mainContainer shadowBox">
            <div class="aboutContent">
                <img src="/client/img/aboutUs/doctor.jpg" alt="doctor" width="400" height="400" class="shadowBox">

                <div class="aboutText">
                    <div class="aboutHeader">
                        <h1 class="textHeader">About Us</h1>
                        <hr>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam expedita provident, dolores iusto porro, ipsum optio quos laudantium a quam cupiditate debitis perspiciatis, placeat nulla deserunt quisquam dolorum est laborum? Quos maxime quisquam laborum?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia minima hic corporis necessitatibus dolores incidunt asperiores? Blanditiis, sed suscipit quisquam odio aperiam omnis soluta optio saepe cumque rerum consequatur fuga sint enim. Nisi, corrupti?</p>
                    <a href="/p/aboutus">
                        <button class="btn lrn-btn">Learn More</button>
                    </a>
                </div>
        </div>
    </div>

    <!-- Events -->

    <div class="mainContainer shadowBox eventMainBox">
        <h1 class="textHeader">Health tips</h1>
        <div class="eventText">
            <p>See whats happening around you...</p>
            <hr>
        </div>

        <div class="eventBox">
            <!-- 1st box -->

            <div class="event-firstBox">
                <div class="event-firstBox-img">
                    <img src="/client/img/aboutUs/evn.jpg" alt="event">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quasi ullam eligendi? Error, odio optio.</p>
                <button class="btn rv-btn">Know More</button>
            </div>
             
            <!-- 2nd box -->
        <div class="event-secondBox">

        
            <div class="event-secondChild">
               <!-- == 1st profile == -->
            <div class="profile-card">
                <a href="#">
                    <div class="profileFlex">
                        <img src="/client/img/aboutUs/evn.jpg" alt="evn">
                        <div class="profile-cardInfo">
                            <h4>Dr Kankan Jyoti Nath</h4>
                            <p>
                                <i class="uil uil-user-md uil-color"></i>
                                Neurosurgeon
                            </p>
                            <p>
                                <i class="uil uil-university uil-color"></i>
                                MBBS, MD, MSc
                            </p>
                        </div>
                    </div>
                </a>
            </div>

               <!-- == 2nd profile == -->
            <div class="profile-card">
                <a href="#">
                    <div class="profileFlex">
                        <img src="/client/img/aboutUs/evn.jpg" alt="evn">
                        <div class="profile-cardInfo">
                            <h4>Dr Panchanan Deka</h4>
                            <p>
                                <i class="uil uil-user-md uil-color"></i>
                                Neurosurgeon
                            </p>
                            <p>
                                <i class="uil uil-university uil-color"></i>
                                MBBS, MD, MSc
                            </p>
                        </div>
                    </div>
                </a>
            </div>

               <!-- == 3rd profile == -->
            <div class="profile-card">
                <a href="#">
                    <div class="profileFlex">
                        <img src="/client/img/aboutUs/evn.jpg" alt="evn">
                        <div class="profile-cardInfo">
                            <h4>Dr Panchanan Deka</h4>
                            <p>
                                <i class="uil uil-user-md uil-color"></i>
                                Neurosurgeon
                            </p>
                            <p>
                                <i class="uil uil-university uil-color"></i>
                                MBBS, MD, MSc
                            </p>
                        </div>
                    </div>
                </a>
            </div>

               <!-- == 4th profile == -->
               <div class="profile-card">
                <a href="#">
                    <div class="profileFlex">
                        <img src="/client/img/aboutUs/evn.jpg" alt="evn">
                        <div class="profile-cardInfo">
                            <h4>Dr Mintu Sharma</h4>
                            <p>
                                <i class="uil uil-user-md uil-color"></i>
                                Neurosurgeon
                            </p>
                            <p>
                                <i class="uil uil-university uil-color"></i>
                                MBBS, MD, MSc
                            </p>
                        </div>
                    </div>
                </a>
            </div>

               <!-- == 5th profile == -->
                <div class="profile-card">
                    <a href="#">
                        <div class="profileFlex">
                            <img src="/client/img/aboutUs/evn.jpg" alt="evn">
                            <div class="profile-cardInfo">
                                <h4>Dr Mintu Sharma</h4>
                                <p>
                                    <i class="uil uil-user-md uil-color"></i>
                                    Neurosurgeon
                                </p>
                                <p>
                                    <i class="uil uil-university uil-color"></i>
                                    MBBS, MD, MSc
                                </p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
            <a href="/html/drpage">
                <button class="btn rv-btn">View More Doctors</button>
            </a>
        </div>

        </div>

    </div>

    <!-- footer  -->
    <%- include('./partials/indexFooter.ejs') %>


    <!-- javascript -->
    <script src="/client/js/script.js"></script>


</body>
</html>