<header>
    <div class="header-content">
        <div onclick="window.location='/'" class="logo">
            cipmedic
        </div>
        <nav>
            <ul class="nav-links nav-hide">
                <li><a href="/">Home</a></li>
                <li><a href="/p/clinics">Clinics</a></li>
                <li><a href="/p/aboutus">About Us</a></li>
                <li><a href="/p/contactus">Contact Us</a></li>
                <li><a href="/p/login">Login
                    <i class="uil uil-user"></i>
                </a></li>
            </ul>
        </nav>
        <div class="searchBox hidden">
            <input type="text" name="searchline" id="searchline">
        </div>
        <div class="search">
            <i class="uil uil-search-alt searchIcon"></i>
            <i class="uil uil-multiply hidden"></i>
            <i class="uil uil-bars berger"></i>
        </div> 
    </div>
</header>