<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinics-Cipmedic</title>

     <!-- style sheets -->
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/home/clinics.css">
    <link rel="stylesheet" href="/css/home/aboutUs.css">
    <link rel="stylesheet" href="/css/home/events.css">
    <link rel="stylesheet" href="/css/home/footer.css">

     <link rel="stylesheet" href="/css/page/doctors.css">
     <link rel="stylesheet" href="/css/page/clinic.css">
 
     <!-- icons -->
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
     <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
 
</head>
<body>
    <div class="gridBox">

        <div class="grid-item shadowBox">
            <a href="/html/clinicHome.html">
                <div class="grid-img img-1">
                    <h3>Dispur Polyclinic</h3>
                    <div class="grid-img-content">
                        <p><i class="uil uil-user-md uil-color"></i>
                            Dr Mohibul Hoque
                        </p>
                        <span>4.5&#9733;</span>
                    </div>
                </div>
                <div class="grid-content">
                    <p><i class="uil uil-location-point"></i>
                        Ganeshguri,Dispur,Guwahati</p>
                    <p><i class="uil uil-rupee-sign"></i>
                        500 at clinic
                    </p>
                </div>
            </a>
        </div>
         <!-- clinic-2  -->
        <div class="grid-item shadowBox">
            <a href="#">
                <div class="grid-img img-1">
                    <h3>Dispur Polyclinic</h3>
                    <div class="grid-img-content">
                        <p><i class="uil uil-user-md uil-color"></i>
                            Dr Mohibul Hoque
                        </p>
                        <span>4.5&#9733;</span>
                    </div>
                </div>
                <div class="grid-content">
                    <p><i class="uil uil-location-point"></i>
                        Ganeshguri,Dispur,Guwahati</p>
                    <p><i class="uil uil-rupee-sign"></i>
                        500 at clinic
                    </p>
                </div>
            </a>
        </div>
        <!-- clinic-3  -->
        <div class="grid-item shadowBox">
            <a href="#">
                <div class="grid-img img-1">
                    <h3>Dispur Polyclinic</h3>
                    <div class="grid-img-content">
                        <p><i class="uil uil-user-md uil-color"></i>
                            Dr Mohibul Hoque
                        </p>
                        <span>4.5&#9733;</span>
                    </div>
                </div>
                <div class="grid-content">
                    <p><i class="uil uil-location-point"></i>
                        Ganeshguri,Dispur,Guwahati</p>
                    <p><i class="uil uil-rupee-sign"></i>
                        500 at clinic
                    </p>
                </div>
            </a>
        </div>

        <!-- clinic-4  -->
        <div class="grid-item shadowBox">
            <a href="#">
                <div class="grid-img img-1">
                    <h3>Dispur Polyclinic</h3>
                    <div class="grid-img-content">
                        <p><i class="uil uil-user-md uil-color"></i>
                            Dr Mohibul Hoque
                        </p>
                        <span>4.5&#9733;</span>
                    </div>
                </div>
                <div class="grid-content">
                    <p><i class="uil uil-location-point"></i>
                        Ganeshguri,Dispur,Guwahati</p>
                    <p><i class="uil uil-rupee-sign"></i>
                        500 at clinic
                    </p>
                </div>
            </a>
        </div>

    </div>
</body>
</html>