<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic-Cipmedic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/css/home/header.css">
    <link rel="stylesheet" href="/css/page/clinicHome.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainPage">
        <div class="pageInner-child">
            <div class="pageContent">
                <h1>Dispur Polyclinic</h1>
                <p>Your one-stop shop for all your healthcare needs.</p>
            </div>
            <div class="pageBtn">
                <a href="#">
                    <button class="pagebtn">Call Now&nbsp;<i class="uil uil-calling"></i></button>
                </a>
                <a href="#"><button class="pagebtn">Make an Appoinment</button></a>
            </div>
        </div>
    </div>
</body>
</html>