<footer>
    <div class="addPS">
        <span onclick="Opn_addPS(this)" > + </span><br>
        <p>Patient Name:</p>
        <input type='text' name="PName" placeholder='Patient Name' required>
        <p>Additional Info :</p>
        <input type='text' name="PInfo" placeholder='Additional Info' required>
        <p>Select Doctor :</p>
        <select name="PDoc" id='psDoctor' required>
            <% if(doc){ %>
                <% doc.forEach(function(e){ %>
            <option value='<%= e.d_name %>'>Dr. <%= e.d_name %></option>
            <% }) %>
            <% } %> 
        </select><br>
        <button type="button" class="cgreen hover">Save </button>
        <button onclick="Cls_addPS(this)" class="cred hover "> Cancel</button>
    </div>
    <nav id="bottomNav">
        <a href="ApplyRequest" ><span class="symbols-rounded">mark_email_read</span><br>Apply request</a>
        <a href="" action><span class="symbols-rounded">home</span><br>Home </a>
        <a href="settings"><span class="symbols-rounded">settings</span><br>Settings</a>
    </nav>
</footer>