<footer>
    <nav id="bottomNav">
        <a  data-n="ApplyRequest" ><span class="symbols-rounded">mark_email_read</span><br>Apply request</a>
        <a  data-n="" action><span class="symbols-rounded">home</span><br>Home </a>
        <a  data-n="settings"><span class="symbols-rounded">settings</span><br>Settings</a>
    </nav>
</footer>