<footer>
    <div onclick="addPS()" class="addPS">
        <span class="hover">+</span><br>
        <p>Patient Name:</p>
         <input type='text' name="PName" placeholder='Patient Name'>
         <p>Additional Info :</p>
         <input type='text' name="PInfo"  placeholder='Additional Info'>
         <p>Select Doctor :</p>
         <select name="PDoc" id='psDoctor'>
             <option value='Jays Mehra'>Jays Mehra</option>
             <option value='PK Das'>PK Das</option>
             <option value='Probin Borua'>Probin Borua</option>
         </select><br>
         <button type="button" class="cgreen hover">Save </button>
         <button type="button" class="cred hover"> Cancel</button>
    </div>
    <nav id="bottomNav">
        <a href="/ApplyRequest"><span class="symbols-rounded">mark_email_read</span><br>Apply request</a>
        <a href="#" action><span class="symbols-rounded">home</span><br>Home </a>
        <a href="/settings"><span class="symbols-rounded">settings</span><br>Settings</a>
    </nav>
</footer>



