<nav id="NavContainer">
    <a id="val1" href="javascript:userAction.modelBox_Opn('MaxChange')" title="Increase/Decrease Apply Quantity" aria-checked="true">Maximum
        Apply:<span> 7</span></a>
    <a href="javascript:userAction.modelBox_Opn('AutoApv')" id="val2"  title="Off/On Auto Approval">Auto Approval: <span> Yes</span></a>
    <label class="switch">
        <input type="checkbox"  onclick="userAction.modelBox_Opn('ClsOpn')" class="val3" title="Close/Open Apply">
        <span class="slider round"></span>
    </label>
    <!-- <span id="toggalOpt" onclick="taggleNav()">0</span> -->
</nav>
<br> 