<nav id="NavContainer">
    <a id="val1" href="javascript:userAction.modelBox_Opn('MaxChange')" title="Increase/Decrease Apply Quantity" aria-checked="true">Maximum Apply:<span> <%= sets.maxApply %></span></a>
    <a href="javascript:userAction.modelBox_Opn('AutoApv')" id="val2"  title="Off/On Auto Approval">Auto Approval: <span> <%= sets.autoReqAppl %></span></a>
    <a class="switch" href="javascript:userAction.modelBox_Opn('AutoApv')" id="val2"  title="Off/On Auto Approval">Auto Approval: <span> <%= sets.autoReqAppl %></span></a>

    <!-- <span id="toggalOpt" onclick="taggleNav()">0</span> -->
</nav>
<br> 