@import './anim.css';
:root {
    --p-color: rgb(0, 0, 0);
    --p2-color: rgb(17, 195, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: rgb(242, 242, 242);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}
/* ///// nav  */
#NavContainer {
    background-color: var(--p-color);
    padding: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 10px black;
    display: grid;
    grid-template-columns: 60% 40%;
}

#NavContainer a {
    margin: 5px;
    cursor: pointer;
}

#NavContainer #val1 {
    margin: 5px;
    display: block;
}
#NavContainer input[type="date"]{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}
input::-webkit-calendar-picker-indicator{
    cursor: pointer;
    padding: 5px;
}
/* ///// navBottom  */
.addPS {
    background-color: var(--p-color);
    color: white;
    font-size: 39px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 70px;
    right: 5px;
}

#bottomNav {
    padding: 3px;
    background-color: var(--p-color);
    height: 55px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    z-index: 10;
}
#bottomNav a {
    display: block;
    width: 30%;
    text-align: center;
    cursor: pointer;
}
#bottomNav a[action] {
    background-color: #fff;
    border-radius: 13px;
    transition: all .5s;
    color: var(--p-color);
}
.switch {
    float: right;
}
/* ///////////Main ////////// */
#mainContent .psInfo {
    width: 90%;
    margin: 10px auto;
    background: whitesmoke;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#mainContent .psInfo::before {
    content: '';
}
#mainContent .psNum{
    background: var(--p2-color);
    border-radius: 6px;
    padding: 2.5rem 3rem;
    text-align: center;
}
#mainContent .psNum .uil{
    font-size: 25px;
}
#mainContent .psDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    line-height: 0;
    letter-spacing: 1px;
}
#mainContent .psAction{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
}
#mainContent .psAction a{
    text-align: center;
    font-size: 13px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* padding: 5px 12px; */
    width: 50px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#mainContent .psAction .uil{
    font-size: 25px;
}
#mainContent .psAction a:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.done {
    color: green;
}
.del { 
    color: red;
}
#mainContent .itm_done {
   background: rgb(204, 204, 204);
}
/* ////Plus Icon /// */
.addPSpan {
    display: block;
    background-color: var(--p-color);
    color: rgba(255, 255, 255, 0);
    font-size: 39px;
    width: 93%;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border-radius: 13px;
    position: fixed;
    bottom: 70px;
    margin: auto;
    transition: all .4s;
}
.addPSpan p {
    width: 80%;
    margin: 10px auto 0px auto;
    color: white;
    font-size: 16px;
    text-align: left;
}

.addPSpan :is(input, select) {
    width: 80%;
    margin: auto;
    height: 35px;
    border-radius: 7px;
    padding: 5px;
}
.addPSpan button,
#mdl_bx button {
    width: 45%;
    height: 45px;
    border-radius: 7px;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px 0.1px #f5f5dc;
    font-size: 18px;
    color: white;
    margin-top: 40px;
}
.addPSpan span {
    width: 25px;
    height: 25px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    float: right;
    cursor: pointer;
    transform: rotate(45deg);
}
.cgreen {
    background: rgb(73, 196, 7);
    background: linear-gradient(0deg, rgba(91, 241, 8, 1) 0%, rgba(6, 182, 17, 1) 65%);
}
.cred {
    background: rgb(241, 106, 8);
    background: linear-gradient(0deg, rgba(241, 106, 8, 1) 0%, rgba(242, 11, 11, 1) 49%);
}
/* <!-- Mdl and flashMsg --> */
#mdl_bx {
    display: none;
    position: absolute;
    top: 20vh;
    width: 94%;
    height: fit-content;
    border-radius: 13px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow:  0px 1px 5px #00000057;
    border: 1px solid var(--p-color);
}
#mdl_body {
    width: 80%;
}
#mdl_bx input[type="text"],#mdl_bx input[type="number"],#mdl_bx select {
    width:96%;
    margin: auto 0px 15px;
    height: 34px;
    border-radius: 7px;
    padding: 5px;
    border: 2px solid var(--p2-color);
}
#mdl_bx button {
   bottom:1px;
   width: 45%;
}
#mdl_bx button:hover {
    color: var(--p-color);
    font-weight: 500;
    transition: all .4s;
    border: 2px solid var(--p-color);
 }
#btnCotn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flashMsg {
    display: none;
    width: 100vw;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 1px 10px -5px black;
    background-color: var(--p2-color);
    z-index: 10;
}
h2[data-val="nl"]{
text-align: center; color: rgb(183, 213, 240);}

#cout{
    position: absolute;
    top: 5px;
    left: 21%;
    color: #ff0000;
    font-weight: 600;
}
#log-Container{
    width: 90%;
    margin: auto;
    height: 70px;
    margin-top: 10px;
    font-weight: 800;
    background-color: #b0c0f5;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}
.efont{
    font-family: 'Ysabeau', sans-serif;
}

#panel{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 95vh;
    overflow-y: scroll;
    z-index: 9;
    background: rgb(153, 214, 255);
    position: absolute;
    top: 0;
}

#panel :is(.panelInfo, .patientInfo){
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    position: relative;
}
#panel .panelInfo{
    margin-bottom: 3.5rem;
}
#panel .panelInfo input{
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
}
.panelInfo :is(input,a, span ):hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#panel #cross{
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    background: whitesmoke;
    padding: 8px 14px;
    position: absolute;
    top: -40px;
    right: 0;
}
#panel .panelInfo a{
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: whitesmoke;
    padding: 8px 14px;
    color: black;
    position: absolute;
    top: 52px;
    left: 0;
}
#panel .patientInfo{
    background: #fff;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 1rem;
}
#panel .patientInfo .psNum{
    background: var(--p2-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 2.5rem 1rem;
    border-radius: 5px;
    
}
.patientInfo .psNum .uil{
    font-size: 25px;
}
#panel .patientInfo .psDetail{
    line-height: 5px;
}
#panel #numb{
    font-size: 17px;
}

/* Search bar and download */
.admin-search-tool{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.admin-search-tool input{
    width: 74%;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.admin-search-tool input:is(:hover,:focus){
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.admin-search-tool a{
    text-align: center;
    width: 20%;
    font-size: 12px;
    border-radius: 5px;
    background: var(--p-color);
    padding: 14px;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.3s ease;
    cursor: pointer;
}
.admin-search-tool a:hover{
    background: gray;
}

@media screen and (max-width: 960px) {
    #mainContent .psNum{
        padding: 1.5rem 1rem;
    }
    #mainContent .psNum {
        width: 20%;
    }
}