@import './anim.css';
:root {
    --p-color: rgb(0, 0, 0);
    --p2-color: rgb(17, 195, 255);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}
/* ///// nav  */
#NavContainer {
    background-color: var(--p-color);
    padding: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 10px black;
    display: grid;
    grid-template-columns: 60% 40%;
}

#NavContainer a {
    margin: 5px;
    cursor: pointer;
}

#NavContainer #val1 {
    margin: 5px;
    display: block;
}
/* ///// navBottom  */
.addPS {
    background-color: var(--p-color);
    color: white;
    font-size: 39px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 70px;
    right: 5px;
}

#bottomNav {
    padding: 3px;
    background-color: var(--p-color);
    height: 55px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    z-index: 10;
}
#bottomNav a {
    display: block;
    width: 30%;
    text-align: center;
    cursor: pointer;
}
#bottomNav a[action] {
    background-color: #fff;
    border-radius: 13px;
    transition: all .5s;
    color: var(--p-color);
}
.switch {
    float: right;
}
/* ///////////Main  */
.psInfo {
    width: 88%;
    border: 1px solid var(--p-color);
    margin: auto auto 10px;
    border-radius: 13px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px 1px rgb(206, 205, 205);
}
.psInfo::before {
    content: '';
}
.psNum {
    background-color: rgb(133, 192, 240);
    border-radius: 11px;
    padding: 20px 3px 3px 3px;
    width: 15%;
    margin-right: 7px;
    text-align: center;
    overflow: hidden;
}
.psNum span {
    text-align: center;
}
.psDetail {
    width: 70%;
}
.psDoctor,
.psOtherInf {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.psAction {
    width: 20%;
    display: grid;
    font-size: 13px;
    text-align: center;
}
.del,
.done {
    display: grid;
    grid-template-columns: 100%;
    font-size: 10px;
    align-self: center;
    transition: all .5s;
    border-radius: 50px;
    cursor: pointer;

}
.done {
    color: green;
}
#mainContent .itm_done {
   opacity: .5;
}
.del {
    
    color: red;
}
.hover:hover {
    background: rgb(218, 218, 218);
    color: var(--p-color);
    border-radius: 13px;
    transition: all .5s;
    height: 50px;
    box-shadow: 0px 1px 10px rgb(228, 228, 228);
}
/* ////Plus Icon /// */
.addPSpan {
    display: block;
    background-color: var(--p-color);
    color: rgba(255, 255, 255, 0);
    font-size: 39px;
    width: 93%;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border-radius: 13px;
    position: fixed;
    bottom: 70px;
    margin: auto;
    transition: all .4s;
}
.addPSpan p {
    width: 80%;
    margin: 10px auto 0px auto;
    color: white;
    font-size: 16px;
    text-align: left;
}

.addPSpan :is(input, select) {
    width: 80%;
    margin: auto;
    height: 35px;
    border-radius: 7px;
    padding: 5px;
}
.addPSpan button,
#mdl_bx button {
    width: 45%;
    height: 45px;
    border-radius: 7px;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px 0.1px #f5f5dc;
    font-size: 18px;
    color: white;
    margin-top: 40px;
}
.addPSpan span {
    width: 25px;
    height: 25px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    float: right;
    cursor: pointer;
    transform: rotate(45deg);
}
.cgreen {
    background: rgb(73, 196, 7);
    background: linear-gradient(0deg, rgba(91, 241, 8, 1) 0%, rgba(6, 182, 17, 1) 65%);
}
.cred {
    background: rgb(241, 106, 8);
    background: linear-gradient(0deg, rgba(241, 106, 8, 1) 0%, rgba(242, 11, 11, 1) 49%);
}
/* <!-- Mdl and flashMsg --> */
#mdl_bx {
    display: none;
    position: absolute;
    top: 20vh;
    width: 94%;
    height: fit-content;
    border-radius: 13px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow:  0px 1px 5px #00000057;
    border: 1px solid var(--p-color);
}
#mdl_body {
    width: 80%;
}
#mdl_bx input[type="text"],#mdl_bx input[type="number"],#mdl_bx select {
    width:96%;
    margin: auto 0px 15px;
    height: 34px;
    border-radius: 7px;
    padding: 5px;
    border: 2px solid var(--p2-color);
}
#mdl_bx button {
   bottom:1px;
   width: 45%;
}
#mdl_bx button:hover {
    color: var(--p-color);
    font-weight: 500;
    transition: all .4s;
    border: 2px solid var(--p-color);
 }
#btnCotn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flashMsg {
    display: none;
    width: 100vw;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 1px 10ps -5px black;
    background-color: var(--p2-color);
    z-index: 10;
}
h2[data-val="nl"]{
text-align: center; color: rgb(183, 213, 240);}
#panel{
    display: none;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 0px;
    background: rgb(187, 219, 255);
    overflow-y: scroll;
    z-index: 9;
}
#panel span[type="cancel"]  {
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 5px white;
    text-align: center;
    font-size: 22px;
    border-radius: 20px;
    margin: 12px;
}
#panel .psInfo{
    background-color: #fff;
    justify-content: unset;
    border-color: white;
}
#cout{
    position: absolute;
    top: 5px;
    left: 21%;
    color: #ff0000;
    font-weight: 600;
}
#log-Container{
    width: 90%;
    margin: auto;
    height: 70px;
    margin-top: 10px;
    font-weight: 800;
    background-color: #b0c0f5;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}
.efont{
    font-family: 'Ysabeau', sans-serif;
}

.datesearch{
    height: 40px;
    width: 200px;
    border-radius: 6px;
    font-size : 15px;
}