<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispur Polyclinic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">

    <link rel="stylesheet" href="/client/css/clinicnames/dispur.css">
    <link rel="stylesheet" href="/client/css/clinicnames/respDispur.css">
    <link rel="stylesheet" href="/client/css/page/form.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('../partials/indexHeader.ejs') %>
    <div class="mainPage mainContainer shadowBox">
        <div class="clinicInfo">
            <div class="clinicLogo shadowBox">
                <img src="/client/img/Clinics/Dispur/logo.png" alt="Logo">
            </div>
            <div class="clinicDetails">
                <div class="clinicName">
                    <h3>Dispur Polyclinic</h3>
                    <div class="starRating">
                        <span>4.6&#9733;</span>
                        <p>(200+ Ratings)</p>
                    </div>
                </div>
                <p>
                    <i class="uil uil-medical-square-full"></i>
                    General Physician Clinic
                </p>
                <p>
                    <i class="uil uil-map-marker-plus"></i>
                    <a href="#">
                        H.No.6A, Juripar, Panjabari, SixMile, Guwahati
                    </a>

                </p>
                <p> <i class="uil uil-check-circle"></i>
                    3 Doctors &nbsp;
                    <i class="uil uil-check-circle"></i>
                    <i class="uil uil-rupee-sign"></i>
                    500 at clinic
                </p>

                <div class="appointmentBtns">
                    <button class="appbtn" id="bookAppo">Book Appointment</button>
                    <button class="appbtn">Call Now</button>
                </div>
            </div>
        </div>
        <hr id="revert">

        <div class="clinicTimings">
            <p>timings</p>
            <div class="weekDays">
                <ul class="weekS">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
                <ul>
                    <li>10:00 AM - 01:00 PM</li>
                    <li>11:00 AM - 02:00 PM</li>
                    <li>09:00 AM - 11:00 AM</li>
                    <li>11:30 AM - 01:30 PM</li>
                    <li>10:30 AM - 02:30 PM</li>
                    <li>09:30 AM - 01:30 PM</li>
                    <li>10:00 AM - 01:00 PM</li>
                </ul>
            </div>

        </div>
    </div>
    <!-- mainPAge section ends here -->

    <div class="splitSection">
        <div class="firstSplit shadowBox">
            <div class="firstSplit-Heading">
                <h3>DOCTORS IN THE CLINIC</h3>
                <select name="doctors" id="doctors">
                    <optgroup label="Physiotherapist">
                        <option value="kank">Dr Kankan Jyoti Nath</option>
                        <option value="panc">Dr Panchanan Deka</option>
                    </optgroup>

                    <optgroup label="Radiologist">
                        <option value="mint">Dr Mintu Sharma</option>
                        <option value="mohi">Dr Mohibul Hoque</option>
                    </optgroup>
                </select>
            </div>

            <hr>
            <div class="firstSplit-main">
                <div class="firstSplit-img">
                    <p class="verify">
                        <i class="uil uil-award"></i>
                        Certification verified
                    </p>
                    <img src="/client/img/doctor/Dr Kankan/logo.png" alt="Dr Kankan">
                </div>
                <div class="firstSplit-Content">
                    <h3>Dr Kankan Jyoti Nath</h3>
                    <p>
                        <i class="uil uil-user-md"></i>
                        NEUROSURGEON
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                        MBBS, MD, MSc
                    </p>
                    <p>
                        <i class="uil uil-medkit"></i>
                        12 Years Experience
                    </p>
                    <p>
                        <i class="uil uil-language"></i>
                        English, Hindi, Assamese
                    </p>
                    <p>
                        <i class="uil uil-heart-medical"></i>
                        250+ Ratings
                    </p>

                </div>
            </div>

            <hr>

            <div class="doctorTimings">
                <h4>Timings</h4>
                <div class="weekDays">
                    <ul>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                    <ul>
                        <li>10:00 AM - 01:00 PM</li>
                        <li>11:00 AM - 02:00 PM</li>
                        <li>09:00 AM - 11:00 AM</li>
                        <li>11:30 AM - 01:30 PM</li>
                        <li>10:30 AM - 02:30 PM</li>
                        <li>09:30 AM - 01:30 PM</li>
                        <li>10:00 AM - 01:00 PM</li>
                    </ul>
                </div>

            </div>

            <hr>

            <div class="firstSplit-details">
                <h4>About</h4>
                <details>
                    <summary>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi impedit nihil veritatis
                        omnis nemo, illo qui facere minima magnam tenetur, ex, aliquam doloribus. Ea tempora quo dolorem
                        dolore vero eum...
                    </summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officiis officia dolores
                        veniam dicta repellat magnam? Vel suscipit nobis repudiandae iusto voluptatibus maxime cum a,
                        sit unde. Corrupti, deserunt culpa!</p>
                </details>
                <hr>
                <h4>What the Doctor has to say?</h4>
                <div class="videoContent">
                    <iframe src="https://www.youtube.com/embed/Yxl-kfl9MIg" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                    <div class="videoContent-desc">
                        <h5>Lifestyle Diseases</h5>
                        <p> NCDs such as cardiovascular diseases (CVD), stroke, diabetes and certain forms of cancer are
                            heavily linked to lifestyle choices, and hence, are often known as lifestyle diseases.
                            <a href="#">Know more&rarr;</a>
                    </div>
                    </p>
                </div>
            </div>

        </div>

        <!-- Right Side Split section  -->

        <div class="secondSplit shadowBox">
            <div class="clinicLocation">
                <h4>Location</h4>
                <hr>
                <p>
                    <i class="uil uil-map-marker-plus"></i>
                    <a href="https://goo.gl/maps/HQTXd1E5jWW7xeEWA">
                        H.No.6A, Juripar, Panjabari, SixMile, Guwahati
                    </a>
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3581.976168816173!2d91.811786!3d26.13232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDA3JzU2LjQiTiA5McKwNDgnNDIuNCJF!5e0!3m2!1sen!2sin!4v1678984234247!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <hr>
            <!-- photo gallery  -->
            <div class="clinicGallery">
                <div class="galleryHeading">
                    <h4>Gallery</h4>
                    <!-- <button class="btn">View All</button> -->
                </div>
                <div class="galleryPhotos">
                    <img src="/client/img/Clinics/Dispur/cover-image.jpg" alt="">
                    <img src="/client/img/Clinics/Dispur/logo.png" alt="">
                    <img src="/client/img/Clinics/Dispur/logo.png" alt="">
                    <img src="/client/img/Clinics/Dispur/logo.png" alt="">
                    <img src="/client/img/doctor/profile-img/doctor.jpg" alt="">
                    <img src="/client/img/doctor/profile-img/doctor.jpg" alt="">
                    <img src="/client/img/doctor/profile-img/doctor.jpg" alt="">
                </div>
            </div>



            <!-- photo gallery ends here  -->
            <hr>
            <div class="clinicalEvents">
                <ul>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Articles</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>

                <div class="clinicalEvents-Content">
                    <div class="content-Events_img">
                        <img src="/client/img/card-img/clinic-1.jpg" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod totam expedita adipisci nostrum
                        quas eligendi. Excepturi asperiores dignissimos ducimus libero ratione, sapiente commodi
                        adipisci perferendis laudantium dolor et odio?</p>
                    <a href="#">Know More &rarr;</a>
                </div>
                <hr>
            </div>

        </div>
        <!-- secondsplit ends here  -->
    </div>

    <!-- second section ends here  -->

    <div class="feedback_Form mainContainer shadowBox">
        <input type="text" name="feedback" id="feedback">
        <a href="#">
            <button>Send us your feedback&rarr;</button>
        </a>
    </div>
    <!-- feedbck container ends here  -->

    <div class="clinicReview mainContainer shadowBox">

        <i class="uil uil-angle-left uilreview"></i>

        <div class="reviewSection">
            <div class="reviewStars">
                <i class="uil uil-star"></i>
                <i class="uil uil-star"></i>
                <i class="uil uil-star"></i>
                <i class="uil uil-star"></i>
                <i class="uil uil-star"></i>
            </div>
            <div class="reviewText">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quod ea illum porro optio totam ipsa
                    fugiat eius vel quaerat asperiores"</p>
                <p>Madhabendra Phukan</p>
                <hr>
                <a href="#" id="writeReview">Write a review&rarr;</a>
            </div>
        </div>

        <i class="uil uil-angle-right uilreview"></i>
    </div>
    <!-- feeback container ends here  -->


    <!-- appoinment form  -->

    <div class="registration-form">
        <div class="registration-details">
            <span id="closeX">&times;</span>
            <div class="title">Registration Form</div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <p class="details">Full Name:</p>
                        <input type="text" placeholder="Enter your name" name="name" id="name" required>
                    </div>
                    <div class="input-box">
                        <p class="details">Phone Number:</p>
                        <input type="text" placeholder="Enter your 10 digits mobile number" name="number" id="number"
                            required>
                    </div>
                    <div class="input-box">
                        <p class="details">Select your doctor:</p>
                        <select name="regnDoctor" id="regnDoctor">
                            <optgroup label="Physiotherapist">
                                <option value="kank">Dr Kankan Jyoti Nath</option>
                                <option value="panc">Dr Panchanan Deka</option>
                            </optgroup>

                            <optgroup label="Radiologist">
                                <option value="mint">Dr Mintu Sharma</option>
                                <option value="mohi">Dr Mohibul Hoque</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="input-box">
                        <p class="details">Select Date:</p>
                        <input id="date" type="date" data-min="today" data-max="1" name="date">
                    </div>
                    <div class="input-box">
                        <p class="details">Additional Info(Optional):</p>
                        <input type="text" placeholder="Enter about any query" name="info" id="info">
                    </div>
                </div>
                <div class="term-details">
                    <input type="checkbox" name="checkMe" id="checkMe" checked required>
                    <p>I agree to the <a href="#">terms and condtions</a></p>
                </div>
                <div class="form-button">
                    <input type="submit" value="Save">
                    <input type="button" value="Cancel">
                </div>
            </form>
        </div>
    </div>

    <!-- appointment form ends here -->
    <!-- review popup  -->
    <div class="reviewPopup">
        <div class="reviewPopup-box">
            <span id="clsX">&times;</span>
            <div class="title">Rate & Review</div>
            <div class="review-details">
                <div class="review-stars">
                    <p class="star">&#9734;</p>
                    <p class="star">&#9734;</p>
                    <p class="star">&#9734;</p>
                    <p class="star">&#9734;</p>
                    <p class="star">&#9734;</p>
                </div>
                <div class="review-box">
                    <textarea name="ReviewText" id="" placeholder="Write your review"></textarea>
                </div>
                <div class="review-savebtn">
                    <input type="submit" value="Save" id="saveReview">
                </div>
            </div>
        </div>
    </div>

    <!-- review popup ends here  -->
    <div class="review-form">
        <div class="review-form-details">
            <span id="Xclse">&times;</span>
            <div class="review-input">
                <p class="details">Full Name:</p>
                <input type="text" placeholder="Enter your name" name="name" id="name" required>
            </div>
            <div class="review-input">
                <p class="details">Email:</p>
                <input type="text" placeholder="Enter your email" name="name" id="name" required>
            </div>
            <div class="review-button">
                <input type="submit" value="Submit your review">
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="/admin/css/anim.css">

    <div id="msg_bx" class="animate__animated">
    <div id="msg_Ctn">
        <div id="icon"><i class="uil" class=""></i></div>
        <div id="msg_k790">
            <h3>Lorem, ipsum dolor.</h3>
            <p>       Lorem tur adipisicing elit. Eligendi, error.</p>
        </div>
    </div>
    </div>




    <!-- Footer  -->
    <%- include('../partials/indexFooter.ejs') %>

    <!-- javascript -->
    <script>
        document.getElementById("bookAppo").addEventListener("click", function () {
            document.querySelector(".registration-form").style.display = "block";
        })

        document.getElementById("closeX").addEventListener("click",
            function () {
                document.querySelector(".registration-form").style.display = "none";
            })


        //review
        document.getElementById("writeReview").addEventListener("click", function () {
            document.querySelector(".reviewPopup").style.display = "block";
        })
        document.getElementById("clsX").addEventListener("click", function () {
            document.querySelector(".reviewPopup").style.display = "none";
        })

        // submit review
        document.getElementById("saveReview").addEventListener("click", function () {
            document.querySelector(".review-form").style.display = "block";
        })
        document.getElementById("Xclse").addEventListener("click", function () {
            document.querySelector(".review-form").style.display = "none";
        })
    </script>
    <script src="/client/js/script.js"></script>
</body>

</html>

<!-- https://codepen.io/alvarotrigo/pen/YzvKNvo -->
<!-- https://codepen.io/alvarotrigo/pen/GRGKrGg -->