<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispur Polyclinic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="/client/css/home/header.css">
    <link rel="stylesheet" href="/client/css/home/location-slider.css">
    <link rel="stylesheet" href="/client/css/home/clinics.css">
    <link rel="stylesheet" href="/client/css/home/aboutUs.css">
    <link rel="stylesheet" href="/client/css/home/events.css">
    <link rel="stylesheet" href="/client/css/home/footer.css">
    

    <link rel="stylesheet" href="/client/css/clinicnames/dispur.css">
    <link rel="stylesheet" href="/client/css/clinicnames/respDispur.css">
    <link rel="stylesheet" href="/client/css/page/form.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('../partials/indexHeader.ejs') %>
    <div class="mainPage mainContainer shadowBox">
        
        <div class="clinicInfo">
            <div class="clinicLogo">
                <img src="/client/img/Clinics/default/doctorDefault.png" alt="Logo">
            </div>
            <div class="clinicDetails">
                <div class="clinicName" id="clinicid" data-guti ="min01">
                    <h3 id="clinicName">Dispur Polyclinic</h3>
                    <div class="starRating">
                        <span id="clinicRating">4.6&#9733;</span>
                        <p id="clinicRev">(200+ Ratings)</p>
                    </div>
                </div>
                <p>
                    <i class="uil uil-medical-square-full"></i>
                    General Physician Clinic
                </p>
                <p>
                    <i class="uil uil-map-marker-plus"></i>
                    <a href="#">
                    Panjabari, SixMile, Guwahati
                    </a>
                    
                </p>
                <p> <i class="uil uil-check-circle"></i>
                    3 Doctors  &nbsp;
                    <i class="uil uil-check-circle"></i> 
                    <i class="uil uil-rupee-sign"></i>
                    500 at clinic  
                </p>

                <div class="appointmentBtns">
                    <button class="appbtn" id="bookAppo">Book Appointment</button>
                    <button class="appbtn">Call Now</button>
                 </div>
            </div>
        </div>
            <hr id="revert">

        <div class="clinicTimings">
            <p>timings</p>
            <div class="weekDays">
                <ul class="weekS">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
                <ul>
                    <li>10:00 AM - 01:00 PM</li>
                    <li>11:00 AM - 02:00 PM</li>
                    <li>09:00 AM - 11:00 AM</li>
                    <li>11:30 AM - 01:30 PM</li>
                    <li>10:30 AM - 02:30 PM</li>
                    <li>09:30 AM - 01:30 PM</li>
                    <li>10:00 AM - 01:00 PM</li>
                </ul>
            </div>
            
        </div>
    </div>
            <!-- mainPAge section ends here -->

    <div class="splitSection">
        <div class="firstSplit shadowBox">
            <div class="firstSplit-Heading">
                <h3>DOCTORS IN THE CLINIC</h3>
                <select name="doctors" id="doctors" onchange="getValu()">
                    <option value="SelectDoctor">Select a Doctor</option>
                        <option value="0">Dr Bhaba Jyoti Sharma</option>
                        <option value="1">Dr R.N Kalita</option>
                        <option value="mint">Dr Gopeswar Bhuyan</option>
                        <option value="mohi">Dr P.K Das</option>
                </select>
            </div>
            
            <hr>
            <div class="firstSplit-main">
                <div class="firstSplit-img">
                    <p class="verify">
                        <i class="uil uil-award"></i>
                        Certification verified
                    </p>
                    <img src="/client/img/Clinics/default/doctorDefault.png" alt="doctor">
                </div>
                <div class="firstSplit-Content">
                    <h3 id="dname">Dr Kankan Jyoti Nath</h3>
                    <p>
                        <i class="uil uil-user-md"></i>
                       <span id="dspec"> NEUROSURGEON</span>
                    </p>
                    <p>
                        <i class="uil uil-university"></i>
                       <span id="ddeg"> MBBS, MD, MSc</span>
                    </p>
                    <p>
                        <i class="uil uil-medkit"></i>
                       <span id="dexp"> 12 Years Experience</span>
                    </p>
                    <p>
                        <i class="uil uil-language"></i>
                        <span id="dlang">English, Hindi, Assamese</span>
                    </p>
                    <p>
                        <i class="uil uil-heart-medical"></i>
                       <span id="drat"> 250+ Ratings</span>
                    </p>

                </div>
            </div>

            <hr>

        <!-- <div class="doctorTimings">
            <h4>Timings</h4>
            <div class="weekDays">
                <ul>
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
                <ul>
                    <li>10:00 AM - 01:00 PM</li>
                    <li>11:00 AM - 02:00 PM</li>
                    <li>09:00 AM - 11:00 AM</li>
                    <li>11:30 AM - 01:30 PM</li>
                    <li>10:30 AM - 02:30 PM</li>
                    <li>09:30 AM - 01:30 PM</li>
                    <li>10:00 AM - 01:00 PM</li>
                </ul>
            </div>
            
        </div>

            <hr> -->

            <div class="firstSplit-details">
                <h4>About</h4>
                <div class="details">
                    <p id="aboutsum">
                        Plenty of medical students have questions when they're first starting out — like what are all of the physician subspecialties, and what the most common doctor specialty is in your field? But with so many paths to choose from, and so many stops along the way, there might be times you need to know even more.
                        <span class="detailsText">
                            Anatomical pathology is one of those medical doctor specialties that study the morphologic aspects of a disease. An anatomical pathologist's key specialization is to diagnose diseased tissue and investigate the mechanisms and development of the disease. They do this by examining the tissues removed by needle aspiration, surgical procedures, or autopsy. Anatomical is one of the better medical specialties for doctors who like working alone, in a lab setting, or in a more academic environment. 
                        </span>
                    </p>
                    <span class="detailsMore-btn">Know More....</span>
                </div>
                <hr>
                <h4>What the Doctor has to say?</h4>
                <div class="videoContent">
                    <iframe src="https://www.youtube.com/embed/Yxl-kfl9MIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    <div class="videoContent-desc">
                        <h5>Lifestyle Diseases</h5>
                        <p>  NCDs such as cardiovascular diseases (CVD),  stroke, diabetes and certain forms of cancer are heavily linked to lifestyle choices, and hence, are often known as lifestyle diseases.
                            <a href="#">Know more&rarr;</a>
                    </div>
                    </p>
                </div>
            </div>
            
        </div>


        <!-- Right Side Split section  -->

        <div class="secondSplit shadowBox">
            <div class="clinicLocation">
                <h4>Location</h4>
                <hr>
                <p>
                    <i class="uil uil-map-marker-plus"></i>
                    <a href="https://goo.gl/maps/HQTXd1E5jWW7xeEWA">
                        Dispur, Guwahati
                    </a>
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3581.976168816173!2d91.811786!3d26.13232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjbCsDA3JzU2LjQiTiA5McKwNDgnNDIuNCJF!5e0!3m2!1sen!2sin!4v1678984234247!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <hr>
            <!-- photo gallery  -->
            <div class="clinicGallery">
                <div class="galleryHeading">
                    <h4>Gallery</h4>
                    <!-- <button class="btn">View All</button> -->
                </div>
                <div class="galleryPhotos">
                    <img src="/client/img/Clinics/default/default-home-1.jpg" alt="">
                    <img src="/client/img/Clinics/default/default-home-2.jpg" alt="">
                    <img src="/client/img/Clinics/default/default-home-3.jpg" alt="">
                    <img src="/client/img/Clinics/default/medical.jpg" alt="">
                    <img src="/client/img/Clinics/default/doctors-office.jpg" alt="">
                    <img src="/client/img/Clinics/default/equipment.jpg" alt="">
                    <img src="/client/img/Clinics/default/medical-equipment.jpg" alt="">
                </div>
            </div>



            <!-- photo gallery ends here  -->
            <hr>
            <div class="clinicalEvents">
                <ul>
                    <li><a href="/p/health-tips">News & Events</a></li>
                    <li><a href="/p/health-tips">Articles</a></li>
                    <li><a href="/p/health-tips">Blogs</a></li>
                </ul>

                <div class="clinicalEvents-Content">
                    <div class="content-Events_img">
                        <img src="/client/img/main/event-img.jpg" alt="News">
                    </div>
                    <p>Plenty of medical students have questions when they're first starting out — like what are all of the physician subspecialties, and what the most common doctor specialty is in your field? But with so many paths to choose from, and so many stops along the way, there might be times you need to know even more.</p>
                    <a href="/p/health-tips">Know More &rarr;</a>
                </div>
                <hr>
            </div>

        </div>
        <!-- secondsplit ends here  -->
    </div>

    <!-- second section ends here  -->

    <!-- review split section  -->
    <section class="reviewSplit-section">
        <div class="first-reviewSplit shadowBox">
            <div class="writeReview-section">
                <h3>Review this Clinic</h3>
                <hr>
                <p>Share your thoughts with others</p>
                <a  id="writeReview">Write a review&rarr;</a>
            </div>
            <hr>
            <div class="review-ad-section">
                <div class="review-ad-img">
                    <img src="/client/img/main/ad.jpg" alt="ads">
                    <span>Ad</span>
                </div>
            </div>
        </div>
        <!-- secondf split  -->
        <div class="second-reviewSplit shadowBox">
            <h3>Customer Reviews</h3>
            <hr>
            <div id="review">

            </div>
        </div>
    </section>



    <!-- appoinment form  -->

    <div class="registration-form">
        <div class="registration-details">
            <span id="closeX">&times;</span>
            <div class="title">Registration Form</div>
                <div class="user-details">
                    <div class="input-box">
                        <p class="details">Full Name:</p>
                        <input type="text" placeholder="Enter your name" name="name" id="name" required>
                    </div>
                    <div class="input-box">
                        <p class="details">Phone Number:</p>
                        <input type="text" placeholder="Enter your 10 digits mobile number" name="number" id="number"
                            required>
                    </div>
                    <div class="input-box">
                        <p class="details">Select your doctor:</p>
                        <select name="regnDoctor" id="regnDoctor">
                            <optgroup label="Physiotherapist">
                                <option value="kank">Dr Kankan Jyoti Nath</option>
                                <option value="panc">Dr Panchanan Deka</option>
                            </optgroup>
                            <optgroup label="Radiologist">
                                <option value="mint">Dr Mintu Sharma</option>
                                <option value="mohi">Dr Mohibul Hoque</option>
                            </optgroup>
                        </select>

                    </div>
                    <div class="input-box">
                        <p class="details">Select the date:</p>
                        <input id="formDate" type="date" data-min="0" data-max="1" value name="date">
                    </div>
                    <div class="input-box">
                        <p class="details">Additional Info(Optional):</p>
                        <input type="text" placeholder="Enter about any query" name="info" id="info">
                    </div>
                </div>
                <div class="term-details">
                    <input type="checkbox" name="checkMe" id="checkMe" checked required>
                    <p>I agree to the <a href="#">terms and condtions</a></p>
                </div>
                <div class="form-button">
                    <input type="submit" onclick="userReq.FormSet()" value="Save">
                    <input type="button" onclick="Cl_opnForm()" value="Cancel">
                </div>
        </div>
    </div>
    <!-- appointment form ends here -->


    <!-- review popup  -->
    <div class="reviewPopup hide" id="cls-mainbox">
        <div class="reviewPopup-box">
            <span id="clsX">&times;</span>
            <div class="title">Rate & Review</div>
            <div class="review-details">
                <div class="review-stars">
                    <input type="radio" name="rate" value="5" id="5">
                    <label for="5" class="uis uis-star" id="star" data-val="5"></label>

                    <input type="radio" name="rate" value="4" id="4">
                    <label for="4" class="uis uis-star" id="star" data-val="4"></label>

                    <input type="radio" name="rate" value="3" id="3">
                    <label for="3" class="uis uis-star" id="star" data-val="3"></label>

                    <input type="radio" name="rate" value="2" id="2">
                    <label for="2" class="uis uis-star" id="star" data-val="2"></label>

                    <input type="radio" name="rate" value="1" id="1">
                    <label for="1" class="uis uis-star" id="star" data-val="1"></label>

                </div>
                <div class="review-box">
                    <textarea name="ReviewText" id="cus-review" placeholder="Write your review"></textarea>
                </div>
                <div class="review-savebtn">
                    <input type="button" value="Save" id="saveReview">
                </div>
            </div>
        </div>
    </div>


    <!-- review popup ends here  -->
    <div class="review-form hide" id="reviewPopup-NE">
        <div class="review-form-details">
            <span id="Xclse">&times;</span>
            <div class="review-input">
                <p class="details">Full Name:</p>
                <input type="text" placeholder="Enter your name" name="name" id="cus-name" required>
            </div>
            <div class="review-input">
                <p class="details">Email:</p>
                <input type="text" placeholder="Enter your email" name="email" id="emails" required>
            </div>
            <div class="review-button">
                <input type="button" value="Submit your review" id="submit-review">
            </div>
        </div>
    </div>

  <div class="photo-box hide" id="photo-Box">
    <div class="zoomPhoto">
        <span id="pclose">&times;</span>
        <img src="profile.JPG" class="img-zoom" id="photoBox">
    </div>
  </div>

  
  <!-- ////// flaSH MESSAGE  -->
    <div id="msg_bx" class="animate__animated">
    <div id="msg_Ctn">
        <div id="icon"><i class="uil" class=""></i></div>
        <div id="msg_k790"><h3></h3><p></p></div>
    </div>
    </div>
    
    <!-- Footer  -->
    <%- include('../partials/indexFooter.ejs') %>
    <!-- javascript -->
    <script src="/client/js/script.js"></script>
    <script src="../client/js/dispur.js"></script>
    <script src="/client/js/dispurDoctor.js"></script>
</body>
</html>
